<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Angel_Suite">
<listeners>
		<listener class-name="extendReport.ExtentReporterNG" />
	</listeners>
  <test  name="Chrome Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testClass_Package.VerifyHeaderfunctionality"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Angel_Suite -->
